@using TP.Wayfinding.Resources
@model TP.Wayfinding.Site.Models.Account.LoginModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_GuestLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i>
        </p>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = PropertyNames.UserName, autofocus = "true" })
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = PropertyNames.Password, autofocus = "true" })
        </div>
        @Html.ValidationSummary()
        <label class="checkbox">
            @Html.CheckBoxFor(m => m.RememberMe) Remember me
        </label>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}