<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu">
            <li class="sub-menu @(ViewBag.ControllerName == "building" ? "active" : string.Empty)">
                <a href="javascript:;" class="">
                    <i class="icon_house_alt"></i>
                    <span>Buildings</span>
                    <span class="menu-arrow @(ViewBag.ControllerName == "building" ? "arrow_carrot-down" : "arrow_carrot-right")"></span>
                </a>
                <ul class="sub">
                    <li><a class="active" href="@Url.Action("Index", "Building")">List</a></li>
                    <li><a class="" href="@Url.Action("Create", "Building")">Create</a></li>
                </ul>
            </li>
            <li class="sub-menu @(ViewBag.ControllerName == "room" ? "active" : string.Empty)">
                <a href="javascript:;" class="">
                    <i class="icon_cone_alt"></i>
                    <span>Offices</span>
                    <span class="menu-arrow @(ViewBag.ControllerName == "room" ? "arrow_carrot-down" : "arrow_carrot-right")"></span>
                </a>
                <ul class="sub">
                    <li><a class="active" href="@Url.Action("Index", "Office")">View</a></li>
                </ul>
            </li>
            <li class="sub-menu @(ViewBag.ControllerName == "room" ? "active" : string.Empty)">
                <a href="javascript:;" class="">
                    <i class="icon_link_alt"></i>
                    <span>Navigation</span>
                    <span class="menu-arrow @(ViewBag.ControllerName == "room" ? "arrow_carrot-down" : "arrow_carrot-right")"></span>
                </a>
                <ul class="sub">
                    <li><a class="active" href="@Url.Action("Index", "Navigation")">View</a></li>
                </ul>
            </li>
            <li class="sub-menu @(ViewBag.ControllerName == "device" ? "active" : string.Empty)">
                <a href="javascript:;" class="">
                    <i class="icon_tablet"></i>
                    <span>Devices</span>
                    <span class="menu-arrow @(ViewBag.ControllerName == "device" ? "arrow_carrot-down" : "arrow_carrot-right")"></span>
                </a>
                 <ul class="sub">
                    <li><a class="active" href="@Url.Action("Index", "Device")">View</a></li>
                </ul>
            </li>
            <li class="sub-menu @(ViewBag.ControllerName == "people" ? "active" : string.Empty)">
                <a href="javascript:;" class="">
                    <i class="icon_contacts_alt"></i>
                    <span>People</span>
                    <span class="menu-arrow @(ViewBag.ControllerName == "people" ? "arrow_carrot-down" : "arrow_carrot-right")"></span>
                </a>
                <ul class="sub">
                    <li><a class="active" href="@Url.Action("Index", "Person")">List</a></li>
                    <li><a class="" href="@Url.Action("Create", "Person")">Create</a></li>
                </ul>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>
